In [117]:
import pandas as pd
import numpy as np

In [118]:
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)

In [119]:
df =pd.read_csv("stage_2_gurgaon_data")

In [120]:
df.head()

,property_name,property_type,society,price,Price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,6 BHK Flat in Sector 70 Gurgaon,flat,tulip ivory,5.00,10416.0,4800.0,Carpet area: 4800 (445.93 sq.m.),6,7,3+,"study room,servant room","Sector 70 Gurgaon, Gurgaon, Haryana",0.0,NaN,1 to 5 Year Old,"['Reach 3 Roads Shopping Mall', 'Southern Peri...",It is new unused property park facing with kit...,[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area3.5 out of 5', 'Amenities4 out of ..."
1,2 BHK Flat in Sector 37D Gurgaon,flat,signature global the millennia,0.60,9230.0,650.0,Super Built up area 650(60.39 sq.m.)Carpet are...,2,2,3,not_available,"702, Sector 37D Gurgaon, Gurgaon, Haryana",7.0,NaN,0 to 1 Year Old,"['Jharsha Chowk', 'Hero Honda Chowk', 'Rajiv C...",It's 500 meter from dwarka express way.,NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
2,3 BHK Flat in Sector 79 Gurgaon,flat,bestech altura,1.90,9000.0,2111.0,Carpet area: 2150 (199.74 sq.m.),3,4,2,servant room,"Sector 79 Gurgaon, Gurgaon, Haryana",11.0,NaN,0 to 1 Year Old,"['Sapphire 83 Mall', 'NH -8', 'Golf Course Ext...",Near to possession waiting for oc to receive,[],"['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle3 out of 5..."
3,4 BHK Flat in Sector 59 Gurgaon,flat,conscient elevate,6.75,19882.0,3395.0,Super Built up area 3395(315.41 sq.m.)Carpet a...,4,4,2,servant room,"Sector 59 Gurgaon, Gurgaon, Haryana",10.0,NaN,Within 3 months,"['Rapid Metro Station Sector 55', 'Paras Trini...",Middle floor.. East facing modern apartment,NaN,"['Power Back-up', 'Intercom Facility', 'Lift(s...",NaN
4,3 BHK Flat in Sector 49 Gurgaon,flat,vatika city,1.98,9074.0,2182.0,Super Built up area 2182(202.71 sq.m.)Built Up...,3,4,3,servant room,"000, Sector 49 Gurgaon, Gurgaon, Haryana",9.0,South-East,5 to 10 Year Old,"['BOB ATM', 'PNB ATM', 'HDFC bank ATM', 'YES b...",Check out this 3 bhk apartment for sale in vat...,"['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction4 out of..."

In [121]:
df.shape

(3940, 20)

In [122]:
df.duplicated().sum()

0

In [123]:
df.isnull().sum()

property_name         0
property_type         0
society               1
price                20
Price_per_sqft       20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing             1166
agePossession         1
nearbyLocations     203
description           0
furnishDetails     1025
features            697
rating              445
dtype: int64

In [124]:
df.insert(loc = 3, column ="sector", value = df["property_name"].str.split("in").str[1].str.replace("Gurgaon", "").str.strip() )

In [125]:
df.sample(3)

,property_name,property_type,society,sector,price,Price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1382,2 BHK Flat in Sector 95 Gurgaon,flat,sidhartha ncr one,Sector 95,0.55,5556.0,990.0,Built Up area: 990 (91.97 sq.m.)Carpet area: 9...,2,2,3,not_available,"Sector 95,gurgaon, Sector 95 Gurgaon, Gurgaon,...",15.0,North-East,undefined,NaN,"2 bath, semi-Furnished, 15th floor (Of 20), ov...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4 out of 5', 'Safety4.5 out of 5'..."
1454,1 BHK Flat in Sector 52 Gurgaon,flat,ansal api sushant estate,Sector 52,0.29,11600.0,250.0,Carpet area: 250 (23.23 sq.m.),1,1,0,not_available,"Sector 52 Gurgaon, Gurgaon, Haryana",0.0,NaN,5 to 10 Year Old,"['Radhakrishna Shani Mandir', 'Hanuman Mandir'...",1 rk property full furnished for sale,"['1 Fan', '1 Fridge', '1 Exhaust Fan', '1 Geys...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction4 out of..."
1061,3 BHK Flat in Sector 69 Gurgaon,flat,tulip violet,Sector 69,1.40,8928.0,1568.0,Super Built up area 1568(145.67 sq.m.),3,3,1,not_available,"1203, Sector 69 Gurgaon, Gurgaon, Haryana",12.0,North,1 to 5 Year Old,"['Airia Mall Sector 68', 'Southern Peripheral ...",Tulip violet is one of the most popular destin...,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Water purifier', 'Security / Fire Alarm', 'F...","['Green Area5 out of 5', 'Construction4 out of..."

In [126]:
df["sector"] = df["sector"].str.lower()

In [127]:
df.sample(4)

,property_name,property_type,society,sector,price,Price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2263,2 BHK Flat in Sohna,flat,breez global hill view,sohna,0.32,5470.0,585.0,Built Up area: 1000 (92.9 sq.m.)Carpet area: 5...,2,2,1,not_available,"1701 & 1708, Sohna, Gurgaon, Haryana",17.0,NaN,0 to 1 Year Old,"['Huda City Centre', 'Omaxe City Centre', 'Nin...",Both adjacent properties available which can b...,[],"['Feng Shui / Vaastu Compliant', 'Security / F...","['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
1561,5 Bedroom House for sale in Sector 14 Gurgaon,house,independent,sector 14,4.15,18444.0,2250.0,Plot area 250(209.03 sq.m.),5,4,2,not available,"Sector 14 Gurgaon, Gurgaon, Haryana",2.0,North-West,10+ Year Old,"['Sheetla Mata Mandir', 'Hsbc bank ATM', 'Hdfc...",250 sqyds independent house for sale in sector...,"['5 Wardrobe', '8 Fan', '1 Exhaust Fan', '4 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
2121,6 Bedroom House for sale in Madanpuri,house,independent,madanpuri,0.90,10000.0,900.0,Plot area 100(83.61 sq.m.),6,4,3,"servant room,others","Madanpuri, Gurgaon, Haryana",3.0,North-East,10+ Year Old,"['Dev Man Kathuria Clinic', 'Dr. Madan Clinic'...","Corner property, two side open, 30 by 30 with ...","['5 Fan', '1 Exhaust Fan', '1 Geyser', '6 Ligh...","['Feng Shui / Vaastu Compliant', 'Water Storag...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1819,2 BHK Flat in Sector 103 Gurgaon,flat,landmark the residency,sector 103,0.90,6666.0,1350.0,Super Built up area 1350(125.42 sq.m.),2,2,2,not_available,"Sector 103 Gurgaon, Gurgaon, Haryana",1.0,South-West,1 to 5 Year Old,"['State bank ATM', 'Dr. Hitesh Dawar', 'Bhardw...",We are the proud owners of this 2 bhk apartmen...,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Security / Fire Alarm', 'Intercom Facility',...","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [128]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [129]:
df["sector"].value_counts()

sector
sohna road                                                   163
sector 102                                                   113
sector 85                                                    110
sector 92                                                    104
sector 69                                                     94
sector 90                                                     90
sector 81                                                     90
sector 65                                                     90
sector 109                                                    88
sector 79                                                     80
sector 104                                                    72
sector 83                                                     69
sector 37d                                                    68
sector 86                                                     67
sector 50                                                     65
sector 107                                                    60
sector 108                                                    59
sector 56                                                     57
sector 95                                                     57
sector 89                                                     56
sector 48                                                     56
sector 2                                                      55
sector 70a                                                    54
sector 43                                                     53
sector 37c                                                    53
sector 70                                                     53
sector 84                                                     51
sector-33 sohna road                                          51
sector 26                                                     50
sector 67                                                     48
sector 49                                                     48
sector 28                                                     47
sector 66                                                     46
sector 103                                                    45
sector 113                                                    43
sector 82                                                     42
sector 61                                                     42
sector 25                                                     42
sector 106                                                    38
sector 7                                                      37
sector 4                                                      35
sector 99a                                                    32
sector 54                                                     31
sector 12                                                     30
sector 68                                                     30
sector 77                                                     29
sector 72                                                     29
sector 71                                                     27
sector 112                                                    24
sector 57                                                     24
sector 24                                                     24
sector 88a                                                    23
sector 105                                                    23
sector 33                                                     23
sector 67a                                                    22
sector 111                                                    22
sector 14                                                     22
sector 11                                                     21
sector 22                                                     20
sector 3                                                      20
sector 78                                                     19
sector 82a                                                    19
sector 47                                                     19
sector 74                                                     18
gwal pahari                                                   18
sector 63a                                                    18
sector 62                                                     17
sector 91                                                     17
sector 99                                                     16
sector 110                                                    16
sector 60                                                     15
sector 63                                                     15
sector 52                                                     14
sector 53                                                     14
sector 1 manesar                                              14
sector 55                                                     14
sector 76                                                     14
sector 46                                                     13
sector 36a                                                    13
sector 4 phase 2                                              13
sector 9                                                      13
sector 38                                                     12
sohna road road                                               12
sector 93                                                     12
sector 6                                                      12
sector 31                                                     12
sector 3 phase 3 extension                                    11
sector 39                                                     11
sector 9a                                                     11
sector 41                                                     11
sector 1a manesar                                             10
sector 45                                                      9
sector 3 phase 2                                               9
sector 13                                                      9
sector 95a                                                     9
manesar                                                        9
dwarka expressway                                              8
sector 10a                                                     8
c block sector 43                                              8
sector 59                                                      8
sector 40                                                      8
sector 89 a                                                    8
sector 23                                                      8
sector 2 extension                                             8
sector 8                                                       7
sector 36 sohna road                                           7
sector 17                                                      7
sector 51                                                      7
sector 58                                                      7
sector 1                                                       6
sector 5                                                       6
sector 21                                                      6
sector 80                                                      5
sector 30                                                      5
sector 23a                                                     5
sector 12a                                                     4
sector 3a                                                      4
new sector 2                                                   4
new                                                            4
sector 36                                                      4
sector 110 a                                                   3
a block sector 43                                              3
maruti kunj                                                    3
b block sector 43                                              3
sector 73                                                      3
patel nagar                                                    3
sector 15                                                      3
sector 17b                                                     3
sector 88b                                                     3
sector 27                                                      3
acharya puri                                                   2
sushant lok                                                    2
farukhnagar                                                    2
, delhi ncr                                                    2
surat nagar phase 2                                            2
mayfield garden                                                2
shanti nagar                                                   2
iffco chowk                                                    2
new sector 2 phase 1                                           2
sohna road  road                                               2
bissar                                                         2
sector-2 sohna road                                            2
sector 17a                                                     2
new basti                                                      2
mohan nagar                                                    2
block a sector 21                                              2
golf course ext road                                           2
manohar nagar                                                  2
nars                                                           2
samaspur                                                       2
ambience island                                                2
daulatabad                                                     2
faridabad road                                                 2
west sector 13                                                 2
shankar vihar                                                  2
sector 32                                                      2
sector-11 sohna road                                           2
new sector 2 phase 2                                           2
surat nagar                                                    2
rajiv chowk                                                    2
golf course road                                               2
sispal vihar                                                   2
sector 15 part 2                                               2
rosewood                                                       2
lajpat nagar                                                   2
bhawani enclave                                                2
sector 15 part 1                                               2
tekchand nagar                                                 1
near khandsa road                                              1
sector 3 phase 3                                               1
south city                                                     1
kanahi                                                         1
near euro                                                      1
khandsa                                                        1
saraswati enclave                                              1
ansal's sector 2                                               1
bhora kalan                                                    1
godrej aria , sector 79 ,                                      1
sheetla colony                                                 1
carterpuri village                                             1
sector 7, sector 7                                             1
new sector 7                                                   1
rajiv colony                                                   1
hira nagar                                                     1
sector 50 pocket h                                             1
sector 21a faridabad                                           1
om nagar                                                       1
sai kunj                                                       1
ats marigold                                                   1
near sector 1 market                                           1
urban estate, sector 5                                         1
v block sector 24                                              1
garauli kalan                                                  1
part 3 sector 5                                                1
sector 37b                                                     1
jat colony,fazilpur/taj nagar road                             1
bhimgarh kheri phase 3                                         1
udyog vihar phase 1                                            1
ravi nager basai road                                          1
bptp                                                           1
rattan garden                                                  1
sector 9b                                                      1
sector-7 hous                                                  1
sadar bazar                                                    1
pratap nagar                                                   1
sultanpur                                                      1
anand garden, sector-105                                       1
hsiidc plot sector 1 manesar                                   1
civil l                                                        1
alipur                                                         1
begampur khatola                                               1
mahavir pura                                                   1
naharpur rupa                                                  1
sector 3 phase i                                               1
near pataudi chowk                                             1
huda sector 28                                                 1
damdma                                                         1
sector-35 sohna road                                           1
old delhi road, opp sector-14                                  1
park view                                                      1
dhankot                                                        1
sector 17c                                                     1
laxmna vihar, phase 2                                          1
devi lal colony gali no 12 gurgaon nr omkar public school      1
block h sector 3 phase iii extension                           1
gopal nagar, garhi ghasita, sonipat                            1
sector 12 near sadar bazar                                     1
cyber city                                                     1
g block dlf city phase 1                                       1
heritage city                                                  1
sector 42                                                      1
sec 3 bhim vihar part 1 bhimgher kheri                         1
near nand hospital                                             1
sector 4, railway road,                                        1
sector 4 urban estate                                          1
sector-5 sohna road                                            1
shivji park colony                                             1
sector-5 sheetla colony                                        1
mahasector 11, rajendra place                                  1
saroop garden sector 105                                       1
sector 5 chowk                                                 1
sector 37a                                                     1
kheri                                                          1
pataudi road                                                   1
b1 block sector 57                                             1
lucknow                                                        1
Name: count, dtype: int64

In [130]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]

In [131]:
a.index

Index(['sohna road', 'sector 102', 'sector 85', 'sector 92', 'sector 69',
       'sector 90', 'sector 81', 'sector 65', 'sector 109', 'sector 79',
       ...
       'sector 110 a', 'a block sector 43', 'maruti kunj', 'b block sector 43',
       'sector 73', 'patel nagar', 'sector 15', 'sector 17b', 'sector 88b',
       'sector 27'],
      dtype='object', name='sector', length=130)

In [132]:
df = df[df["sector"].isin(a.index)]

In [133]:
df["sector"].value_counts()

sector
sohna road                    163
sector 102                    113
sector 85                     110
sector 92                     104
sector 69                      94
sector 81                      90
sector 90                      90
sector 65                      90
sector 109                     88
sector 79                      80
sector 104                     72
sector 83                      69
sector 37d                     68
sector 86                      67
sector 50                      65
sector 107                     60
sector 108                     59
sector 95                      57
sector 56                      57
sector 89                      56
sector 48                      56
sector 2                       55
sector 70a                     54
sector 37c                     53
sector 43                      53
sector 70                      53
sector 84                      51
sector-33 sohna road           51
sector 26                      50
sector 67                      48
sector 49                      48
sector 28                      47
sector 66                      46
sector 103                     45
sector 113                     43
sector 82                      42
sector 61                      42
sector 25                      42
sector 106                     38
sector 7                       37
sector 4                       35
sector 99a                     32
sector 54                      31
sector 12                      30
sector 68                      30
sector 77                      29
sector 72                      29
sector 71                      27
sector 24                      24
sector 57                      24
sector 112                     24
sector 88a                     23
sector 33                      23
sector 105                     23
sector 67a                     22
sector 111                     22
sector 14                      22
sector 11                      21
sector 3                       20
sector 22                      20
sector 78                      19
sector 82a                     19
sector 47                      19
gwal pahari                    18
sector 74                      18
sector 63a                     18
sector 62                      17
sector 91                      17
sector 110                     16
sector 99                      16
sector 60                      15
sector 63                      15
sector 76                      14
sector 52                      14
sector 1 manesar               14
sector 55                      14
sector 53                      14
sector 46                      13
sector 36a                     13
sector 9                       13
sector 4 phase 2               13
sector 93                      12
sector 6                       12
sector 31                      12
sohna road road                12
sector 38                      12
sector 9a                      11
sector 3 phase 3 extension     11
sector 41                      11
sector 39                      11
sector 1a manesar              10
sector 45                       9
sector 13                       9
sector 3 phase 2                9
sector 95a                      9
manesar                         9
sector 23                       8
c block sector 43               8
sector 59                       8
sector 10a                      8
sector 40                       8
dwarka expressway               8
sector 2 extension              8
sector 89 a                     8
sector 8                        7
sector 17                       7
sector 58                       7
sector 36 sohna road            7
sector 51                       7
sector 5                        6
sector 1                        6
sector 21                       6
sector 80                       5
sector 23a                      5
sector 30                       5
sector 36                       4
sector 3a                       4
sector 12a                      4
new sector 2                    4
new                             4
maruti kunj                     3
sector 27                       3
b block sector 43               3
sector 17b                      3
a block sector 43               3
sector 110 a                    3
patel nagar                     3
sector 15                       3
sector 88b                      3
sector 73                       3
Name: count, dtype: int64

In [134]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')

In [135]:
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [136]:
df.head(2)

,property_name,property_type,society,sector,price,Price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,6 BHK Flat in Sector 70 Gurgaon,flat,tulip ivory,sector 70,5.0,10416.0,4800.0,Carpet area: 4800 (445.93 sq.m.),6,7,3+,"study room,servant room","Sector 70 Gurgaon, Gurgaon, Haryana",0.0,NaN,1 to 5 Year Old,"['Reach 3 Roads Shopping Mall', 'Southern Peri...",It is new unused property park facing with kit...,[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area3.5 out of 5', 'Amenities4 out of ..."
1,2 BHK Flat in Sector 37D Gurgaon,flat,signature global the millennia,sector 37d,0.6,9230.0,650.0,Super Built up area 650(60.39 sq.m.)Carpet are...,2,2,3,not_available,"702, Sector 37D Gurgaon, Gurgaon, Haryana",7.0,NaN,0 to 1 Year Old,"['Jharsha Chowk', 'Hero Honda Chowk', 'Rajiv C...",It's 500 meter from dwarka express way.,NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [137]:
df[df["sector"]=="new"]

,property_name,property_type,society,sector,price,Price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1240,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,3,not_available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN
1705,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
2132,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,2,not_available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
3295,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not_available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN

In [138]:
df.loc[955,'sector'] = 'sector 37'
df.loc[2800,'sector'] = 'sector 92'
df.loc[2838,'sector'] = 'sector 90'
df.loc[2857,'sector'] = 'sector 76'

In [139]:
df[df['sector'] == 'new sector 2']

,property_name,property_type,society,sector,price,Price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1158,2 BHK Flat in New Palam Vihar,flat,ompee k s residency,new sector 2,1.60,26936.0,594.0,Carpet area: 66 (55.18 sq.m.),2.0,2.0,2,not_available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
2553,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.22,4400.0,500.0,Carpet area: 500 (46.45 sq.m.),2.0,2.0,1,not_available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
3354,2 Bedroom House for sale in New Palam Vihar,house,my home,new sector 2,0.34,12592.0,270.0,Plot area 270(25.08 sq.m.),2.0,2.0,2,not available,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
3902,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.28,3166.0,884.0,Carpet area: 900 (83.61 sq.m.),2.0,1.0,1,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [140]:
df.loc[[311,1072,1486,3040,3875],'sector'] = 'sector 110'

In [141]:

# features to drop -> property_name, address, description, rating
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [142]:
df.to_csv('gurgaon_cleaned.csv',index=False)

In [143]:
df.duplicated().sum()

122

In [144]:
df.shape

(3788, 17)

In [145]:
df.head()

,property_type,society,sector,price,Price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
0,flat,tulip ivory,sector 70,5.00,10416.0,4800.0,Carpet area: 4800 (445.93 sq.m.),6.0,7.0,3+,"study room,servant room",0.0,NaN,1 to 5 Year Old,"['Reach 3 Roads Shopping Mall', 'Southern Peri...",[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
1,flat,signature global the millennia,sector 37d,0.60,9230.0,650.0,Super Built up area 650(60.39 sq.m.)Carpet are...,2.0,2.0,3,not_available,7.0,NaN,0 to 1 Year Old,"['Jharsha Chowk', 'Hero Honda Chowk', 'Rajiv C...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian..."
2,flat,bestech altura,sector 79,1.90,9000.0,2111.0,Carpet area: 2150 (199.74 sq.m.),3.0,4.0,2,servant room,11.0,NaN,0 to 1 Year Old,"['Sapphire 83 Mall', 'NH -8', 'Golf Course Ext...",[],"['Feng Shui / Vaastu Compliant', 'Security / F..."
3,flat,conscient elevate,sector 59,6.75,19882.0,3395.0,Super Built up area 3395(315.41 sq.m.)Carpet a...,4.0,4.0,2,servant room,10.0,NaN,Within 3 months,"['Rapid Metro Station Sector 55', 'Paras Trini...",NaN,"['Power Back-up', 'Intercom Facility', 'Lift(s..."
4,flat,vatika city,sector 49,1.98,9074.0,2182.0,Super Built up area 2182(202.71 sq.m.)Built Up...,3.0,4.0,3,servant room,9.0,South-East,5 to 10 Year Old,"['BOB ATM', 'PNB ATM', 'HDFC bank ATM', 'YES b...","['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe..."