In [15]:
data = {
    'Age': [25, 30, np.nan, 35, 40, np.nan, 45, 50],
    'Income': [50000, np.nan, 60000, np.nan, 70000, 80000, np.nan, 90000],
    'Education': ['Bachelors', 'Masters', 'High School', np.nan, 'PhD', 'High School', 'Masters', 'Bachelors']
}

In [16]:
import pandas as pd

import numpy as np

In [17]:
df=pd.DataFrame(data)

In [18]:
df

    Age   Income    Education
0  25.0  50000.0    Bachelors
1  30.0      NaN      Masters
2   NaN  60000.0  High School
3  35.0      NaN          NaN
4  40.0  70000.0          PhD
5   NaN  80000.0  High School
6  45.0      NaN      Masters
7  50.0  90000.0    Bachelors

In [19]:
X=df.iloc[:,:-1]

In [20]:
X

    Age   Income
0  25.0  50000.0
1  30.0      NaN
2   NaN  60000.0
3  35.0      NaN
4  40.0  70000.0
5   NaN  80000.0
6  45.0      NaN
7  50.0  90000.0

In [21]:
from sklearn.impute import KNNImputer

In [22]:
knn =KNNImputer()

In [60]:
final_df=pd.DataFrame(knn.fit_transform(final_df),columns=final_df.columns)

In [61]:
final_df

    Age   Income  Education
0  25.0  50000.0        0.0
1  30.0  70000.0        2.0
2  38.0  60000.0        1.0
3  35.0  70000.0        1.8
4  40.0  70000.0        3.0
5  38.0  80000.0        1.0
6  45.0  70000.0        2.0
7  50.0  90000.0        0.0

In [28]:
a=knn.fit_transform(df.select_dtypes(include="number"))

In [29]:
df1=df.select_dtypes(include="number")

In [33]:
final_df=pd.DataFrame(a,columns=df1.columns)

In [34]:
final_df["Education"]=df["Education"]

In [45]:
final_df

    Age   Income    Education
0  25.0  50000.0    Bachelors
1  30.0  70000.0      Masters
2  38.0  60000.0  High School
3  35.0  70000.0          NaN
4  40.0  70000.0          PhD
5  38.0  80000.0  High School
6  45.0  70000.0      Masters
7  50.0  90000.0    Bachelors

In [50]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder()
encoded_edu=oe.fit_transform(final_df[["Education"]])

In [53]:
final_df.drop(columns="Education",inplace =True)

In [54]:
final_df["Education"]=encoded_edu

In [55]:
final_df

    Age   Income  Education
0  25.0  50000.0        0.0
1  30.0  70000.0        2.0
2  38.0  60000.0        1.0
3  35.0  70000.0        NaN
4  40.0  70000.0        3.0
5  38.0  80000.0        1.0
6  45.0  70000.0        2.0
7  50.0  90000.0        0.0

In [42]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Sample data with missing values
data_categorical = {
    'Education': ['Bachelors', 'Masters', 'High School', np.nan, 'PhD', 'High School', 'Masters', 'Bachelors']
}

df_categorical = pd.DataFrame(data_categorical)

# Encode categorical data
encoder = OneHotEncoder(handle_unknown='ignore')
df_encoded = pd.DataFrame(encoder.fit_transform(df_categorical[['Education']]).toarray(), columns=encoder.get_feature_names_out(['Education']))

In [43]:
df_encoded

,Education_Bachelors,Education_High School,Education_Masters,Education_PhD,Education_nan
0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,1.0,0.0
5,0.0,1.0,0.0,0.0,0.0
6,0.0,0.0,1.0,0.0,0.0
7,1.0,0.0,0.0,0.0,0.0

In [44]:
# Initialize KNNImputer
knn_imputer_categorical = KNNImputer(n_neighbors=2)

# Fit and transform the encoded data
imputed_data_categorical = knn_imputer_categorical.fit_transform(df_encoded)

# Convert array back to DataFrame with original columns
df_imputed_categorical = pd.DataFrame(imputed_data_categorical, columns=df_encoded.columns)

print("Imputed Categorical Data:")
print(df_imputed_categorical)

Imputed Categorical Data:
   Education_Bachelors  Education_High School  Education_Masters  \
0                  1.0                    0.0                0.0
1                  0.0                    0.0                1.0
2                  0.0                    1.0                0.0
3                  0.0                    0.0                0.0
4                  0.0                    0.0                0.0
5                  0.0                    1.0                0.0
6                  0.0                    0.0                1.0
7                  1.0                    0.0                0.0

   Education_PhD  Education_nan
0            0.0            0.0
1            0.0            0.0
2            0.0            0.0
3            0.0            1.0
4            1.0            0.0
5            0.0            0.0
6            0.0            0.0
7            0.0            0.0

In [62]:
help(KNNImputer)

Help on class KNNImputer in module sklearn.impute._knn:

class KNNImputer(sklearn.impute._base._BaseImputer)
 |  KNNImputer(*, missing_values=nan, n_neighbors=5, weights='uniform', metric='nan_euclidean', copy=True, add_indicator=False, keep_empty_features=False)
 |
 |  Imputation for completing missing values using k-Nearest Neighbors.
 |
 |  Each sample's missing values are imputed using the mean value from
 |  `n_neighbors` nearest neighbors found in the training set. Two samples are
 |  close if the features that neither is missing are close.
 |
 |  Read more in the :ref:`User Guide <knnimpute>`.
 |
 |  .. versionadded:: 0.22
 |
 |  Parameters
 |  ----------
 |  missing_values : int, float, str, np.nan or None, default=np.nan
 |      The placeholder for the missing values. All occurrences of
 |      `missing_values` will be imputed. For pandas' dataframes with
 |      nullable integer dtypes with missing values, `missing_values`
 |      should be set to np.nan, since `pd.NA` will be converted to np.nan.
 |
 |  n_neighbors : int, default=5
 |      Number of neighboring samples to use for imputation.
 |
 |  weights : {'uniform', 'distance'} or callable, default='uniform'
 |      Weight function used in prediction.  Possible values:
 |
 |      - 'uniform' : uniform weights. All points in each neighborhood are
 |        weighted equally.
 |      - 'distance' : weight points by the inverse of their distance.
 |        in this case, closer neighbors of a query point will have a
 |        greater influence than neighbors which are further away.
 |      - callable : a user-defined function which accepts an
 |        array of distances, and returns an array of the same shape
 |        containing the weights.
 |
 |  metric : {'nan_euclidean'} or callable, default='nan_euclidean'
 |      Distance metric for searching neighbors. Possible values:
 |
 |      - 'nan_euclidean'
 |      - callable : a user-defined function which conforms to the definition
 |        of ``_pairwise_callable(X, Y, metric, **kwds)``. The function
 |        accepts two arrays, X and Y, and a `missing_values` keyword in
 |        `kwds` and returns a scalar distance value.
 |
 |  copy : bool, default=True
 |      If True, a copy of X will be created. If False, imputation will
 |      be done in-place whenever possible.
 |
 |  add_indicator : bool, default=False
 |      If True, a :class:`MissingIndicator` transform will stack onto the
 |      output of the imputer's transform. This allows a predictive estimator
 |      to account for missingness despite imputation. If a feature has no
 |      missing values at fit/train time, the feature won't appear on the
 |      missing indicator even if there are missing values at transform/test
 |      time.
 |
 |  keep_empty_features : bool, default=False
 |      If True, features that consist exclusively of missing values when
 |      `fit` is called are returned in results when `transform` is called.
 |      The imputed value is always `0`.
 |
 |      .. versionadded:: 1.2
 |
 |  Attributes
 |  ----------
 |  indicator_ : :class:`~sklearn.impute.MissingIndicator`
 |      Indicator used to add binary indicators for missing values.
 |      ``None`` if add_indicator is False.
 |
 |  n_features_in_ : int
 |      Number of features seen during :term:`fit`.
 |
 |      .. versionadded:: 0.24
 |
 |  feature_names_in_ : ndarray of shape (`n_features_in_`,)
 |      Names of features seen during :term:`fit`. Defined only when `X`
 |      has feature names that are all strings.
 |
 |      .. versionadded:: 1.0
 |
 |  See Also
 |  --------
 |  SimpleImputer : Univariate imputer for completing missing values
 |      with simple strategies.
 |  IterativeImputer : Multivariate imputer that estimates values to impute for
 |      each feature with missing values from all the others.
 |
 |  References
 |  ----------
 |  * `Olga Troyanskaya, Michael Cantor, Gavin Sherlock, Pat Brown, Trevor
 |    Hastie, Robert Tibshirani, David Botstein and Russ B. Altman, Missing
 |    value estimation methods for DNA microarrays, BIOINFORMATICS Vol. 17
 |    no. 6, 2001 Pages 520-525.
 |    <https://academic.oup.com/bioinformatics/article/17/6/520/272365>`_
 |
 |  Examples
 |  --------
 |  >>> import numpy as np
 |  >>> from sklearn.impute import KNNImputer
 |  >>> X = [[1, 2, np.nan], [3, 4, 3], [np.nan, 6, 5], [8, 8, 7]]
 |  >>> imputer = KNNImputer(n_neighbors=2)
 |  >>> imputer.fit_transform(X)
 |  array([[1. , 2. , 4. ],
 |         [3. , 4. , 3. ],
 |         [5.5, 6. , 5. ],
 |         [8. , 8. , 7. ]])
 |
 |  For a more detailed example see
 |  :ref:`sphx_glr_auto_examples_impute_plot_missing_values.py`.
 |
 |  Method resolution order:
 |      KNNImputer
 |      sklearn.impute._base._BaseImputer
 |      sklearn.base.TransformerMixin
 |      sklearn.utils._set_output._SetOutputMixin
 |      sklearn.base.BaseEstimator
 |      sklearn.utils._estimator_html_repr._HTMLDocumentationLinkMixin
 |      sklearn.utils._metadata_requests._MetadataRequester
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, missing_values=nan, n_neighbors=5, weights='uniform', metric='nan_euclidean', copy=True, add_indicator=False, keep_empty_features=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Fit the imputer on X.
 |
 |      Parameters
 |      ----------
 |      X : array-like shape of (n_samples, n_features)
 |          Input data, where `n_samples` is the number of samples and
 |          `n_features` is the number of features.
 |
 |      y : Ignored
 |          Not used, present here for API consistency by convention.
 |
 |      Returns
 |      -------
 |      self : object
 |          The fitted `KNNImputer` class instance.
 |
 |  get_feature_names_out(self, input_features=None)
 |      Get output feature names for transformation.
 |
 |      Parameters
 |      ----------
 |      input_features : array-like of str or None, default=None
 |          Input features.
 |
 |          - If `input_features` is `None`, then `feature_names_in_` is
 |            used as feature names in. If `feature_names_in_` is not defined,
 |            then the following input feature names are generated:
 |            `["x0", "x1", ..., "x(n_features_in_ - 1)"]`.
 |          - If `input_features` is an array-like, then `input_features` must
 |            match `feature_names_in_` if `feature_names_in_` is defined.
 |
 |      Returns
 |      -------
 |      feature_names_out : ndarray of str objects
 |          Transformed feature names.
 |
 |  transform(self, X)
 |      Impute all missing values in X.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          The input data to complete.
 |
 |      Returns
 |      -------
 |      X : array-like of shape (n_samples, n_output_features)
 |          The imputed dataset. `n_output_features` is the number of features
 |          that is not always missing during `fit`.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {'_parameter_constraints': <class 'dict'>}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to `X` and `y` with optional parameters `fit_params`
 |      and returns a transformed version of `X`.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input samples.
 |
 |      y :  array-like of shape (n_samples,) or (n_samples, n_outputs),                 default=None
 |          Target values (None for unsupervised transformations).
 |
 |      **fit_params : dict
 |          Additional fit parameters.
 |
 |      Returns
 |      -------
 |      X_new : ndarray array of shape (n_samples, n_features_new)
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  set_output(self, *, transform=None)
 |      Set output container.
 |
 |      See :ref:`sphx_glr_auto_examples_miscellaneous_plot_set_output.py`
 |      for an example on how to use the API.
 |
 |      Parameters
 |      ----------
 |      transform : {"default", "pandas", "polars"}, default=None
 |          Configure output of `transform` and `fit_transform`.
 |
 |          - `"default"`: Default output format of a transformer
 |          - `"pandas"`: DataFrame output
 |          - `"polars"`: Polars output
 |          - `None`: Transform configuration is unchanged
 |
 |          .. versionadded:: 1.4
 |              `"polars"` option was added.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  __init_subclass__(auto_wrap_output_keys=('transform',), **kwargs) from builtins.type
 |      Set the ``set_{method}_request`` methods.
 |
 |      This uses PEP-487 [1]_ to set the ``set_{method}_request`` methods. It
 |      looks for the information available in the set default values which are
 |      set using ``__metadata_request__*`` class attributes, or inferred
 |      from method signatures.
 |
 |      The ``__metadata_request__*`` class attributes are used when a method
 |      does not explicitly accept a metadata through its arguments or if the
 |      developer would like to specify a request value for those metadata
 |      which are different from the default ``None``.
 |
 |      References
 |      ----------
 |      .. [1] https://www.python.org/dev/peps/pep-0487
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |      Helper for pickle.
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  __sklearn_clone__(self)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as :class:`~sklearn.pipeline.Pipeline`). The latter have
 |      parameters of the form ``<component>__<parameter>`` so that it's
 |      possible to update each component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.utils._metadata_requests._MetadataRequester:
 |
 |  get_metadata_routing(self)
 |      Get metadata routing of this object.
 |
 |      Please check :ref:`User Guide <metadata_routing>` on how the routing
 |      mechanism works.
 |
 |      Returns
 |      -------
 |      routing : MetadataRequest
 |          A :class:`~sklearn.utils.metadata_routing.MetadataRequest` encapsulating
 |          routing information.